@import '_content/Blazor.Bootstrap/Blazor.Bootstrap.bundle.scp.css';

/* /Components/ProjectItem.razor.rz.scp.css */
.thumbnail[b-5nm6e6pn5h] {
  width: 100%;
  height: 200px;
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-i1uw567xud] {
  position: relative;
  display: flex;
  flex-direction: column;
}

#header[b-i1uw567xud] {
  display: flex;
  height: fit-content;
  padding: 10px;
  background-color: lightgray;
  align-items: center;
  justify-content: space-evenly;
}

#logo[b-i1uw567xud] {
  font-size: calc(1.2rem + 0.5vw);
}

#navbar[b-i1uw567xud] {
  color: black;
  a {
    text-decoration: none;
  }
}

main[b-i1uw567xud] {
  flex: 1;
}

.sidebar[b-i1uw567xud] {
  background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-i1uw567xud] {
  background-color: #f7f7f7;
  border-bottom: 1px solid #d6d5d5;
  justify-content: flex-end;
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.top-row[b-i1uw567xud]  a,
.top-row[b-i1uw567xud]  .btn-link {
  white-space: nowrap;
  margin-left: 1.5rem;
  text-decoration: none;
}

.top-row[b-i1uw567xud]  a:hover,
.top-row[b-i1uw567xud]  .btn-link:hover {
  text-decoration: underline;
}

.top-row[b-i1uw567xud]  a:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
  .top-row[b-i1uw567xud] {
    justify-content: space-between;
  }

  .top-row[b-i1uw567xud]  a,
  .top-row[b-i1uw567xud]  .btn-link {
    margin-left: 0;
  }
}

@media (min-width: 641px) {
  .sidebar[b-i1uw567xud] {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .top-row[b-i1uw567xud] {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .top-row.auth[b-i1uw567xud]  a:first-child {
    flex: 1;
    text-align: right;
    width: 0;
  }

  .top-row[b-i1uw567xud],
  article[b-i1uw567xud] {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }
}
/* /Layout/NavBar.razor.rz.scp.css */
nav[b-2uozodsm07] {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 2vw;
}
/* /Pages/Portfolio.razor.rz.scp.css */
#projects[b-h7z0u6f328] {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  padding-left: 0px;
  li {
    margin-bottom: 10px;
  }
}
