@inherits ComponentBase

<div id="footer">
    <div id="contacts">
        <div class="contact">
            <i class="bi bi-github"></i>
            <span>Github</span>
        </div>
        <div class="contact">
            <i class="bi bi-linkedin"></i>
            <span>LikedIn</span>
        </div>
    </div>
</div>