#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    background-color: var(--first-color);
    color: var(--text-light-color);
    border-top: 2px solid var(--second-dark-color);
    padding: 5px;
}

#contacts{
    display: flex;
    flex-direction: column;
    height: fit-content;
}

#contacts-list{
    display: flex;
    flex-direction: row;
}

.contact{
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: var(--small-font-size);
}

a{
    margin-left: 5px;
    color: var(--background-color);
}