@inherits ComponentBase

<div id="footer">
    <div id="contacts">
        <span class="commom-text">Contacts:</span>
        <div id="contacts-list">
            <div class="contact">
                <i class="bi bi-github"></i>
                <a href="https://github.com/RaySilvaP">
                    Github
                </a>
            </div>
            <div class="contact">
                <i class="bi bi-linkedin" style="color: rgb(10, 102, 194);"></i>
                <a href="https://www.linkedin.com/in/ray-da-silva-pereira-476903144">
                    LinkedIn
                </a>
            </div>
        </div>
    </div>
    <span class="commom-text">Copyright © Ray da Silva 2024. All rights reserved.</span>
</div>