@inherits ComponentBase
@using Shared.Models

@if (Images.Count > 0)
{
    <ul>
    @foreach (var image in Images)
        {
            <li>
                <ImageAsync ImageId="@image.Id" />
            </li>
        }
    </ul>
}
else if (Sources.Count > 0)
{
    <ul>
    @foreach (var source in Sources)
        {
            <li>
                <Img ImgClass="image" Source="@source"/>
            </li>
        }
    </ul>
}

@code
{
    
    [Parameter]
    public List<Image> Images { get; set; } = [];
    [Parameter]
    public List<string> Sources { get; set; } = [];
}