.modal{
    background-color: rgb(0, 0, 0, .5);
}

#modal-body{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#img-modal{
    width: auto;
    height: auto;
    max-width: 97vw;
    max-height: 97vh;
}