.project-display{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 0px;
}

.project-display-footer{
    display: flex;
    justify-content: center;
    width: 100%;
}