@using Shared.Models
@inherits ComponentBase
@inject NavigationManager _navigator

<h3>Projects</h3>
@if (Items != null)
{
    <ol class="project-display">
        @foreach (var item in Items)
        {
            <li class="project-display-item" @onclick="() => NavigateToDetails(item.Id)">
                <ProjectDisplayItem Project="item" />
            </li>
        }
    </ol>
}
else
{
    <span>No projects... :(</span>
}

@code {
    [Parameter, EditorRequired]
    public List<ProjectDto>? Items { get; set; }

    private void NavigateToDetails(string id)
    => _navigator.NavigateTo($"/projects/{id}");
}