@using Shared.Models
@inherits ComponentBase
@inject NavigationManager _navigator

<h3>Projects</h3>
<ol class="project-display">
    @if (Items != null && Items.Count != 0)
    {
        foreach (var item in Items)
        {
            <li class="project-display-item" @onclick="() => NavigateToDetails(item.Id)">
                <img src="data:@item.Image.Type;base64,@item.Image.Base64String" />
                <span>@item.Name</span>
            </li>
        }
    }
</ol>

@code {
    [Parameter, EditorRequired]
    public List<Project>? Items { get; set; }

    private void NavigateToDetails(string id)
    => _navigator.NavigateTo($"/projects/{id}");
}