@inject NavigationManager _navigator

<div class="work">
    <Card>
        <div class="img-frame">
            <img src="@ImageSrc" alt="">
        </div>
        <div class="card-bottom">
            <CardBody>
                <CardTitle class="important-text">@Title</CardTitle>
                <CardText class="commom-text">@ShortDescription</CardText>
            </CardBody>
            <CardFooter>
                <Button Color="ButtonColor.Primary" @onclick="() => _navigator.NavigateTo(ProjectUrl)">View</Button>
                @if (CanVisit)
                {
                    <Button Color="ButtonColor.Secondary">Visit</Button>
                }
            </CardFooter>
        </div>
    </Card>
</div>

@code
{
    [Parameter]
    public string Title { get; set; } = string.Empty;
    [Parameter]
    public string ShortDescription { get; set; } = string.Empty;
    [Parameter]
    public bool CanVisit { get; set; } = true;
    [Parameter]
    public string ImageSrc { get; set; } = string.Empty;
    [Parameter]
    public string ProjectUrl { get; set; } = string.Empty;
}