@using Frontend.Services
@using Shared.Models
@page "/admin/dashboard"
@layout AdminLayout
@inject HttpService _httpService

<div class="container">
    <ProjectsDisplay Items="_items" />
</div>

@code {
    private List<ProjectDto>? _items;

    protected override async Task OnInitializedAsync()
    {
        _items = await _httpService.GetProjectsAsync(1, 50);
    }
}
