@page "/"
@using Frontend.Components.Home

<PageTitle>Ray da Silva</PageTitle>

<Personal />
<div class="indicator-down">
    <i class="bi bi-chevron-double-down"></i>
</div>
<Professional />
<div class="indicator-down">
    <i class="bi bi-chevron-double-down"></i>
</div>
<Contacts />