@page "/"
@using Frontend.Components.Home
@inject IJSRuntime _jS

<PageTitle>Home</PageTitle>

<Personal />
<div>
    <p class="title" animation="fade-up">Check Out My Networks</p>
    <div id="contacts" animation="fade-up">
        <div id="contacts-list">
            <div class="contact commom-text">
                <i class="bi bi-github"></i>
                <a href="https://github.com/RaySilvaP">
                    Github
                </a>
            </div>
            <div class="contact commom-text">
                <i class="bi bi-linkedin" style="color: rgb(10, 102, 194);"></i>
                <a href="https://www.linkedin.com/in/ray-da-silva-pereira-476903144">
                    LinkedIn
                </a>
            </div>
        </div>
    </div>
</div>
<Professional />

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await _jS.InvokeVoidAsync("initializeAnimations");
    }
}