@using Frontend.Services
@using Shared.Models
@page "/projects/{id}"
@inject HttpService _httpService
@inject NavigationManager _navigator

<div id="container">
    <div class="project">
        @if (_project != null)
        {
            @if (_project.Thumbnail != null)
            {
                <img src="data:@_project.Thumbnail.Format;base64,@_project.Thumbnail.Base64String" />
            }
            <h1>@_project.Name</h1>
            <p>@_project.Description</p>
        }
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; } = null!;
    private Project? _project;

    protected override async Task OnParametersSetAsync()
    {
        var project = await _httpService.GetProjectAsync(Id);
        if (project == null)
            _navigator.NavigateTo("/");
        else
        {
            var thumbnail = await _httpService.GetImageAsync(project.ThumbnailId);
            _project = new Project
                {
                    Name = project.Name,
                    Description = project.Description,
                    Thumbnail = thumbnail
                };
        }
    }
}