@using Frontend.Services
@using Shared.Models
@page "/projects/{id}"
@inject HttpService _httpService
@inject NavigationManager _navigator

<div id="container">
    <div class="project">
        @if (_project != null)
        {
            @if (_project.Image != null)
            {
                <img src="data:@_project.Image.Type;base64,@_project.Image.Base64String" />
            }
            <h1>@_project.Name</h1>
            <p>@_project.Description</p>
            if (_isAuthorized)
            {
                <span>@_project.Id</span>
            }
        }
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; } = null!;
    private Project? _project;
    private bool _isAuthorized = false;

    protected override async Task OnInitializedAsync()
    {
        _isAuthorized = await _httpService.CheckAuthorizationAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        var project = await _httpService.GetProjectAsync(Id);
        if (project == null)
            _navigator.NavigateTo("/");
        else
            _project = project;
    }
}