@page "/projects"
@using RaySilvaP.github.io.Components

<PageTitle>Projects</PageTitle>

<ol id="projects">
    @for (int i = 0; i < 9; i++)
    {
        <li>
            <ProjectItem />
        </li>
    }
</ol>