<nav>
    <div>
        <NavLink class="nav-link" href="admin/dashboard">Dashboard</NavLink>
    </div>
    <div>
        <NavLink class="nav-link" href="admin/editor">Edit Project</NavLink>
    </div>
    <div>
        <NavLink class="nav-link">Log out</NavLink>
    </div>
</nav>