<nav>
    <div>
        <NavLink class="nav-link" href="">Home</NavLink>
    </div>
    <div>
        <NavLink class="nav-link" href="portfolio">Portfolio</NavLink>
    </div>
    <div>
        <NavLink class="nav-link" href="about">About</NavLink>
    </div>
</nav>