<nav>
    <div class="nav-item">
        <NavLink class="nav-link commom-text" Match="NavLinkMatch.All" href="">Home</NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link commom-text" href="projects">Projects</NavLink>
    </div>
</nav>