<nav>
    <div>
        <NavLink class="nav-link commom-text" href="">Home</NavLink>
    </div>
    <div>
        <NavLink class="nav-link commom-text" href="projects">Projects</NavLink>
    </div>
</nav>