#contacts{
    display: flex;
    flex-direction: column;
    height: fit-content;
}

#contacts-list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    flex: 1;
    margin-bottom: 1rem;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    font-size: var(--mid-font-size);
}

a{
    margin-left: 5px;
    color: black;
}