<div id="personal">
    <div id="text">
        <p class="important-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book.
        </p>
    </div>
    <div id="identity">
        <img id="my-img" src="https://i.scdn.co/image/8815db3d2b07d68b919712ace17dc538d9454a9f">
    </div>
</div>