<div id="personal">
    <div id="text">
        <p class="important-text">
            Hi! I'm Ray. I'm a student <span class="contrast-text">web developer</span>, and I've been developing both
            the <span class="contrast-text">backend</span> and <span class="contrast-text">frontend</span> of many
            websites I've created. Normally, I use .NET to develop my websites and web services, but I can work with a
            variety of development tools.
        </p>
    </div>
    <div id="identity">
        <div id="info">
            <img id="my-img" src="https://i.scdn.co/image/8815db3d2b07d68b919712ace17dc538d9454a9f">
            <span class="commom-text">Ray da Silva</span>
            <span class="commom-text">Web Developer | Full Stack</span>
        </div>
    </div>
</div>