<div id="professional">
    <p class="title">Main Works</p>
    <div id="works">
        <Work />
        <Work />
        <Work />
    </div>
    <a class="commom-text" href="/projects">More Projects</a>
</div>