#professional{
    display: flex;
    flex-direction: column;
    height: 90vh;
}

#works{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    width: 100%;
}

::deep .work{
    width: 30%;
    height: 100%;
}