<div id="professional">
    <p class="title" animation="fade-up">Main Works</p>
    <div id="works" animation="fade-up">
        <Work Title="Stock Manager App" ShortDescription="Mobile app for managing the stock of a small tire shop."
            CanVisit="false" ImageSrc="borracharia-icon.svg" ProjectUrl="/projects/storageManager" />
    </div>
    <a class="commom-text" href="/projects">More Projects</a>
</div>